# Each node should have its own unique initiator name otherwise errors like "1020 - ISCSI_ERR_TCP_CONN_CLOSE" are likely to occur.
# The initiator name follows the IQN (iSCSI qualified name) format 
InitiatorName=iqn.2025-09.com.ayasuna.iscsi:{{ ayasuna__ingot__k8s__privates__arguments.prepared.k3s_node_name }}