[Match]
Name=en*

[Network]
LLDP=no
EmitLLDP=no
DuplicateAddressDetection=ipv6
DHCP=ipv4
LinkLocalAddressing=ipv6
IPv6LinkLocalAddressGenerationMode=eui64
IPv6AcceptRA=yes
IPv6SendRA=no
IPv6PrivacyExtensions=no
DNSDefaultRoute=yes
LLMNR=no
MulticastDNS=no
DNSSEC=no
DNSOverTLS=no