[Match]
PermanentMACAddress={{ ayasuna__ingot__k8s__privates__wan_port.mac }}

[Link]
Name=wan0p{{ ayasuna__ingot__k8s__privates__wan_port_index }}
MTUBytes={{ ayasuna__ingot__k8s__privates__arguments.prepared.wan_mtu }}
