 - name: "[Local>K3s] Setting node type dependent facts"
   ansible.builtin.set_fact:
     ayasuna__ingot__k8s__privates__symlinks:
       "server": [ "kubectl", "crictl", "ctr" ]
       "agent": [ "crictl", "ctr" ]

 - name: "[Local>K3s] Creating symlinks"
   ansible.builtin.file:
     src: "/usr/local/bin/k3s"
     dest: "/usr/local/bin/{{ ayasuna__ingot__k8s__privates__symlink }}"
     state: "link"
   loop: "{{ ayasuna__ingot__k8s__privates__symlinks[ayasuna__ingot__k8s__privates__arguments.prepared.k3s_node_type] }}"
   loop_control:
     loop_var: "ayasuna__ingot__k8s__privates__symlink"
     index_var: "ayasuna__ingot__k8s__privates__symlink_index"
     
 - name: "[Local>K3s] Ensuring necessary directories exist"
   ansible.builtin.file:
     path: "{{ ayasuna__ingot__k8s__privates__item.path }}"
     recurse: false
     state: "directory"
     mode: "{{ ayasuna__ingot__k8s__privates__item.mode }}"
     owner: "root"
     group: "root"
   loop:
     - path: "/var/lib/kubelet/"
       mode: "0750"
     - path: "/var/lib/rancher/"
       mode: "0755"
     - path: "/etc/rancher/"
       mode: "0755"
     - path: "/var/lib/ingot/data/kubelet/"
       mode: "0750"
     - path: "/var/lib/ingot/data/rancher/"
       mode: "0755"
     - path: "/var/lib/ingot/data/rancher/data/"
       mode: "0755"
     - path: "/var/lib/ingot/data/rancher/config/"
       mode: "0755"
   loop_control:
     loop_var: "ayasuna__ingot__k8s__privates__item"
     index_var: "ayasuna__ingot__k8s__privates__item_index"
     
 - name: "[Local>K3s] Setting up required .mount files"
   ansible.builtin.template:
     src: "{{ ayasuna__ingot__k8s__privates__item.src }}"
     dest: "{{ ayasuna__ingot__k8s__privates__item.dest }}"
     mode: "0644"
     owner: "root"
     group: "root"
   loop:
     - src: "local/k3s/var_lib_kubelet.mount.j2"
       dest: "/etc/systemd/system/var-lib-kubelet.mount"
     - src: "local/k3s/var_lib_rancher.mount.j2"
       dest: "/etc/systemd/system/var-lib-rancher.mount"
     - src: "local/k3s/etc_rancher.mount.j2"
       dest: "/etc/systemd/system/etc-rancher.mount"
   loop_control:
     loop_var: "ayasuna__ingot__k8s__privates__item"
     index_var: "ayasuna__ingot__k8s__privates__item_index"
     
 - name: "[Local>K3s] Starting mounts"
   ansible.builtin.systemd_service:
     name: "{{ ayasuna__ingot__k8s__privates__item }}"
     state: "started"
     enabled: false
     masked: false
     daemon_reload: true
   loop:
     - "var-lib-kubelet.mount"
     - "var-lib-rancher.mount"
     - "etc-rancher.mount"
   loop_control:
     loop_var: "ayasuna__ingot__k8s__privates__item"
     index_var: "ayasuna__ingot__k8s__privates__item_index"

 - name: "[Local>K3s] Setting up service file for K3s"
   ansible.builtin.template:
     src: "local/k3s/k3s.service.j2"
     dest: "/etc/systemd/system/k3s.service"
     mode: "0644"
     owner: "root"
     group: "root"
